table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table, tr, th, td {
    border: 1px solid black;
}

tbody {
    color: #0970c1;
    background-color: #7955481a;

}
body {
    background-color: #f2f88840;
}

h1 {
    color: #ff0000b5;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
    height: 100px;
    padding-top: 50px;
    background-color: #79554829;
    text-shadow: 2px 1px 3px black;
    box-shadow: 0 0 9px 0px black;
}

h2 {
	text-align: center;
	text-decoration: underline;
}
.receita {
	background-color: #eff84e82;
	box-shadow: 0 0 20px 8px #5f6221b0;
	padding: 20px;
	margin-bottom: 30px;
	list-style-type: none;
}

#formreceita {
	padding-bottom: 20px;
	text-align: center;
}

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align: center;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input.buton {
    width: 10%;
    background-color: red !important;
    color: pink;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align: center;
}

input.buton:hover {
    background-color: #45a049;
}

#divindex {
    border-radius: 5px;
    padding: 20px;
}

#divpesquisa {
	transform: scale(0.9);
}

.divform {
	text-align: center;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 96px;
	height: auto;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
		#ini {
			display: inline-block;
			width: 10%;
		}
		#titp {
			display: inline-block;
			width: 68%;
			    padding-left: 10px;
		}
		#logp {
			display: inline-block;
			width: 20%;
			text-align: center;
			box-shadow: 0 0 8px black;
    float: right;
    height: 220px;
    background-color: #7955480a;
		}
		
		#logpOff {
			display: inline-block;
			width: 20%;
			text-align: center;
    float: right;
    height: 220px;
		}

		
#divFav {
	width: 25%;
	margin: auto;
}

.rfavorita {
	width: 40%;
	margin-left: auto;
    margin-right: auto;
	
}

.rfavorita:hover, .rfavorita:active {
	background-color: #7f514021;
}

a:link, a:visited {
  color: #7f5140;
  padding: 14px 0px;
  text-align: center;
  text-decoration: none;

}

.bfav {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
}

#avatarProf {
	width: 96px;
	height: auto;
}

#divNome {
	height: 10%;
	width: auto;

}
#divFoto {
	height: 50%;
	width: auto;
}
#divFavor {
	height: 20%;
	width: auto;
}
#divSair {
	height: 15%;
	width: auto;
}
#subRecei {
	width: 100px;
}

#subLog {
    width: 10%;
    text-align: center;
    padding: 14px 20px;
    border-radius: 4px;
}